Kumulos.iOS.Binding/obj
Com.Kumulos.iOS/bin
Com.Kumulos.iOS/obj
Kumulos.iOS.Binding/bin
.vs
Com.Kumulos.Abstractions/bin
Com.Kumulos.Abstractions/obj
Com.Kumulos/bin
Com.Kumulos/obj
Com.Kumulos.Android/bin
Com.Kumulos.Android/obj
Kumulos.Android.Binding/bin
Kumulos.Android.Binding/obj
MyAndroidTestApp/bin
packages/
*.nupkg
Com.Kumulos.iOSServiceExtension/obj
Kumulos.iOSExtension.Binding/bin
Kumulos.iOSExtension.Binding/obj
Com.Kumulos.iOSServiceExtension/bin
Com.Kumulos.iOS.Extension/bin
Com.Kumulos.iOS.Extension/obj
Kumulos.iOS.Extension.Binding/obj
Kumulos.iOS.Extension.Binding/bin
